body{
	background-image: url(../photos/brainrot.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
}

@font-face {
    font-family: 'Casino';
    src: url(../fonts/Casino.ttf);
}

#menu{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 4px #EA047E;
	width: 70%;
	height: 50%;
	border-radius: 10px;
	background: #57443f;
	opacity: 0.92;	
}

#title{
	margin: 0;
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.player, .playerGame{
	position: absolute;
	text-align: center;
	font-family: tahoma;
	color: #329bd8;
	top: 15%;
	font-size: 25px;
	border: solid 4px #FF6D28;
	width: 22.5%;
	height: 50%;
	border-radius: 10px;
	font-weight: 700;
	background-color: #5d3f3d;
}

.playerGame{
	height: 57%;
}

#playerOne{
	left: 7%;
}

#playerTwo{
	left: 38%;
}

#playerThree{
	left: 69%;
}

.playerInput{
	width: 140px;
	height: 22px;
	position: relative;
	top: 20%;
	border: none;
	border-bottom: 2px solid #FCE700;
	background-color: #AA8288;
	font-family: tahoma;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
}

.playerInput:focus, #rounds:focus{
	outline: none;
}

#submit, #results, .roll{
	position: absolute;
	margin: 0;
	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FF6D28;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 23px;
	font-family: 'Casino';
	cursor: pointer;
}

.playerTitle{
	text-transform: uppercase;
	position: relative;
	top: 10%;
}

#userOne, #userTwo, #userThree{
	font-size: 33px;
}

.score, .rollsLeft{
	position: relative;
	top: 13%;
	font-size: 20px;
}

.rollsLeft{
	top: 26%;
}

.roll{
	padding: 10px 20px;
	font-size: 21px;
	top: 100%;
}

#results{
	font-size: 21px;
	top: 89%;
	padding: 11px 32px;
	opacity: 0;
	cursor: default;
}

.disabled{
	cursor: not-allowed;
	background-color: #AA8288;
}

.dicePic{
	position: relative;
	top: 56%;
}

.winners{
	background: #ca095d;
	position: absolute;	
}

#second{
	width: 20%;
	height: 50%;
	top: 50%;
	left: 19%;
}

#first{
	width: 20%;
	height: 80%;
	top: 20%;
	left: 40%;
}

#third{
	width: 20%;
	height: 30%;
	top: 70%;
	left: 61%;
}

.number{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Casino';
	color: white;
	font-size: 80px;
	top: 3%;
}

.name{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: tahoma;
	color: #57443f;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

#secondPlayer{
	top: 30%;
}

#firstPlayer{
	top: 20%;
}

#thirdPlayer{
	top: 45%;
}

#secondScore{
	top: 45%;
}

#firstScore{
	top: 30%;
}

#thirdScore{
	top: 70%;
}

#timeWrapper{
	position: absolute;
	top: 1%;
	right: 1%;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: white;
	display: inline-table;
}
#time{
	display: table-cell;
}

#submit:hover, .roll:hover, #results:hover{
	transition: 0.5s;
	background-color: #AA8288;
}

#rounds, #roundsTitle{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: tahoma;
	top: 25%;
}

#rounds{
	width: 60px;
	height: 22px;
	font-family: tahoma;
	top: 73%;
	border: none;
	border-bottom: 2px solid #FCE700;
	background-color: #AA8288;
	font-family: tahoma;
	color: white;
	font-size: 16px;
}

#roundsWrapper{
	position: absolute;
	font-family: tahoma;
	color: #329bd8;
	border: solid 4px #FF6D28;
	border-radius: 10px;
	font-weight: 700;
	background-color: #5d3f3d;
	width: 22.5%;
	height: 15%;
	left: 7%;
	top: 77%;
	font-size: 18.5px;
}

input, select{
	text-align: center;
}